<head>  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% if page.title %}{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %} - {% endif %}{{ site.title }}</title>
{% if page.summary %}
        <meta name="description" content="{{ page.summary }}" />

{% else %}
          <meta name="description" content="{{ site.meta_description}}" />

{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

{% comment %}
<link rel="preload" href="/assets/fonts/Sumana-Regular.woff" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/Sumana-Bold.woff" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/LibreFranklin-Black.woff" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/LibreFranklin-BlackItalic.woff" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/LibreFranklin-Regular.woff" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/LibreFranklin-Black.woff" as="font" type="font/woff2" crossorigin>
{% endcomment %}

<link rel="icon" href="/images/favicons/favicon.ico" sizes="any"/><link rel="icon" href="/images/favicons/icon.svg" type="image/svg+xml"/><link rel="apple-touch-icon" href="/images/favicons/apple-touch-icon.png"/><link rel="manifest" href="/manifest.json"/>

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">


{% comment %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:wght@400;800&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap&family=Spectral:ital,wght@0,400;0,700;1,300;1,600&display=swap" rel="stylesheet">
{% endcomment %}
<link href="/assets/style.css" rel="stylesheet">




<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,200;0,500;1,200;1,500&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">



</head>
